* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Nunito" "sans-serif";
	background-color: #333;
	font-size: 24px;
	color: #fff;
}

.square {
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 25px;
	background-color: rgb(69, 112, 243);

	top: calc(50% - 100px);
	left: calc(50% - 100px);


	
	/* transform: translate(-50%, -50%);
	top: 50%;
	left: 50%; */
} */
