* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Nunito", sans-serif;
	background-color: #333;
	color: white;
	font-size: 36px;
}

button {
	position: absolute;
	top: 50px;
	width: 120px;
	padding: 10px 30px;
	background: none;
	color: white;
	font-weight: bold;
	border: 3px solid white;
	border-radius: 5px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transform: translateX(-50%);
	font-family: "Nunito", sans-serif;
	cursor: pointer;
	transition: 0.5s;
}

button:hover {
	background-color: #fff;
	color: #333;
}
.btn-zoom {
	left: 30%;
}

.btn-move {
	left: 50%;
}

.btn-color {
	left: 70%;
}

.square {
	position: absolute;
	top: 150px;
	width: 100px;
	height: 100px;
	transform: translateX(-50%);
	border-radius: 25px;
	transition: 0.5s;

	background-color: deepskyblue;
}

.blue {
	left: 30%;
	background-color: rgb(96, 78, 214);
	box-shadow: 0 0 15px rgb(96, 78, 214);
	border: 2px solid rgb(59, 37, 207);
}

.red {
	left: 50%;
	background-color: #ed4251;
	box-shadow: 0 0 15px#ed4251;
	border: 2px solid #e41628;
}

.green {
	left: 70%;
	background-color: #2fda62;
	box-shadow: 0 0 15px #2fda62;
	border: 2px solid #04d242;
}

.btn-zoom:hover ~ .square {
	width: 200px;
	height: 200px;
}
.btn-move:hover ~ .square {
	top: 400px;
}
.btn-color:hover ~ .square {
	
	background-color: #333;
	box-shadow: 0 0 15px #333;
	border: 2px solid #ffffff;
}
