* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Nunito", "sans-serif";
	background-color: #333;
}

div {
	border: 2px solid black;
	text-align: center;
	line-height: 60px;
}

.long {
	position: absolute;
	left: calc(50% - 400px);
	top: 50px;
	height: 60px;
	width: 800px;
	background-color: tomato;
	transition: transform 0.3s, width 0.3s;
}

.long:hover {
	transform: scale(2);
	width: 400px;
	left: calc(50% - 200px);
	background-color: rgb(254, 129, 107);
}

.short-size {
	position: absolute;
	width: 300px;
	height: 60px;
}
.short {
	top: 180px;
	left: calc(50% - 150px);
	border-radius: 25px;
	background-color: royalblue;
	transition: 1s linear;
}

.short:hover {
	transform: rotate(360deg);
}

.short2,
.short3 {
	top: 300px;
	border-radius: 10px;
}

.short2 {
	position: absolute;

	left: calc(30% - 150px);
	background-color: gold;

	transition: transform 1s 1s ease-out;
}

.short3 {
	left: calc(70% - 150px);
	background-color: yellowgreen;

	transition: transform 1s 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.short:hover ~ .short2 {
	transform: rotate(360deg);
}

.short:hover ~ .short3 {
	transform: rotate(-360deg);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 200px;
	width: 400px;
	transition:background-color 0.3s;
}

.center:hover {
	background-color: #fff;
}
